
p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding-top:80px;
    padding-left: 80px;
    padding-right: 25px;
    background-color: rgb(237, 237, 237);
}


.thumbnail{
    width: 100%;
}

.thumbnail-layout{
    margin-bottom: 12px;
    position: relative;
}

.video-time{
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-color: black;
    color: white;
}


.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    font-family: Roboto, Arial;
}

@media (max-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width:1200px) and (max-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1200px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title{
        margin-top: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
}

.video-author,
.video-details{
    font-size: 12px;
    color: rgb(54, 54, 54);
    
}

.video-author{
    margin-bottom: 4px;
}


.channel-pic{
    width: 40px;
    border-radius: 30px;
}


